* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace; 
}

/* Navbar Styles */
nav {
  height: 70px;
  width: 100%;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  z-index: 15000;
}
.logo {
  height: 65px;
  width: 65px;
  background-image: url(/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none;
  margin-left: 20px;
}

#hamburger {
  display: block; 
  cursor: pointer;
  font-size: 28px; 
  color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: rgb(0, 0, 0);
  overflow: hidden;
  z-index: 12000;
}

.sidebar ul {
  list-style-type: none;
  padding: 20px;
  margin: 0;
  position: relative;
  top: 50px;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar li a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
}

.dark-theme .sidebar li a:hover {
  color: #01adfd;
}

.light-theme .sidebar li a:hover {
  color: #01adfd;
}

/* Home */
.banner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: #fff;
  position: relative;
  transition: background 0.3s ease;
}

.dark-theme {
  background-image: linear-gradient(180deg, #111, #001833);
}
.light-theme {
  background-image: linear-gradient(180deg, #7bdaff, #00a4d6);
}
#canvas {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: transparent;
}

#home-main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#home-left-container {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: left;
  padding-left: 40px;
  flex-direction: column;
  width: 50%;
}

#home-left-container h1 {
  font-size: 40px;
  animation: slideInFromLeft 0.5s ease-out;
}

.dark-theme #home-left-container h1 {
  color: #fff;
}

.light-theme #home-left-container h1 {
  color: #ffffff;
}

.dark-theme #home-left-container h1 span {
  color: #01adfd;
}

.light-theme #home-left-container h1 span {
  color: #011620;
}

#home-right-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.dark-theme #home-img-container {
  background-color: #01adfd;
}

.light-theme #home-img-container {
  background-color: #011620;
}

#home-img-container {
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1000;
  animation: slideDown 0.5s ease-out;
}

#home-img-bg-container {
  z-index: 1000;
  height: 600px;
  width: 600px;
  background-image: url(/Avatar\ About.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-clip: border-box;
  position: absolute;
}

.social-icons {
  position: fixed;
  top: 30%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
}

.toggle-icon {
  cursor: pointer;
}

.toggle-icon img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.toggle-icon img:hover {
  transform: scale(1);
}

.icon-links {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.icon-links img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s;
}

.icon-links img:hover {
  transform: scale(1.1);
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 250px;
  margin-top: 30px;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
  opacity: 0;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.button::before,
.button::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #7d8082;
  transition: all 0.15s ease;
}

.button::before {
  top: 0;
  border-bottom-width: 0;
}

.button::after {
  bottom: 0;
  border-top-width: 0;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active::before,
.button:active::after {
  right: 3px;
  left: 3px;
}

.button:active::before {
  top: 3px;
}

.button:active::after {
  bottom: 3px;
}

.button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #505050;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.button_lg::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  transform: skew(-15deg);

  transition: all 0.2s ease;
}

.dark-theme .button_sl {
  background-color: #01adfd;
}

.light-theme .button_sl {
  background-color: #011620;
}

.button_text {
  position: relative;
}

.button:hover {
  color: #0f1923;
}

.button:hover .button_sl {
  width: calc(100% + 15px);
}

.button:hover .button_lg::after {
  background-color: #fff;
}

/* Media Queries for responsiveness */
@media screen and (min-width: 1200px) {
  #home-main-container {
    height: 100vh;
  }

  #home-left-container h1 {
    font-size: 45px;
  }

  #home-img-container {
    height: 400px;
    width: 400px;
  }

  #home-img-bg-container {
    height: 600px;
    width: 600px;
  }

  .button {
    width: 250px;
    font-size: 14px;
  }
}

/* Tablet Devices (max-width: 991px) */
@media screen and (max-width: 991px) {
  #home-main-container {
    flex-direction: column-reverse;
    height: auto;
  }

  #home-left-container,
  #home-right-container {
    width: 100%;
    height: auto;
  }

  #home-left-container {
    text-align: center;
    padding-left: 0;
    margin-bottom: 20px;
  }

  #home-img-container {
    height: 250px;
    width: 250px;
  }

  #home-img-bg-container {
    height: 400px;
    width: 400px;
    background-size: 80%;
  }

  #home-left-container h1 {
    font-size: 30px;
  }

  .button {
    width: 100%;
    font-size: 14px;
  }
}



/* Mobile Devices (max-width: 600px) */
@media screen and (max-width: 600px) {
  #home-main-container {
    flex-direction: column-reverse;
    height: auto;
    padding: 0 10px;
  }

  #home-left-container,
  #home-right-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }

  #home-left-container {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
  }

  #home-img-container {
    height: 150px;
    width: 150px;
  }

  #home-img-bg-container {
    height: 300px;
    width: 300px;
    background-size: 90%;
  }

  #home-left-container h1 {
    font-size: 20px;
  }

  .button {
    width: 100%;
    font-size: 12px;
    margin-top: 50px;
  }

  .social-icons {
    top: 30%;
    right: 15px;
    padding: 0px;
  }
  
  .toggle-icon {
    cursor: pointer;
  }
  
}

/* About Page */
#about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  padding: 20px;
  flex-direction: column;
}

.dark-theme #about-text-container {
  color: #dfdfdf;
}

.light-theme #about-text-container {
  color: #011620;
}

#about-right-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  height: 100vh;
}

#about-left {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#about-left h1 {
  font-size: 40px;
  text-align: center;
  padding: 20px;
}

.dark-theme #about-left h1 {
  color: #01adfd;
}

.light-theme #about-left h1 {
  color: #011620;
}

#about-box-main-container {
  height: 550px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#box-container {
  z-index: 1000;
  position: relative;
  animation: slide-in-left 0.5s forwards;
  height: 400px;
  width: 30%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  background-color: rgba(183, 237, 247, 0.432);
  overflow: hidden;
}

#box-container::before {
  content: '';
  position: absolute;
  top: 50%;
  z-index: 1000;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out, top 0.4s ease-in-out, left 0.4s ease-in-out;
  z-index: 1;
}

.light-theme #box-container:hover::before {
  background-color: #000000da;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}

.dark-theme #box-container:hover::before {
  background-color: rgba(0, 183, 255, 0.993);
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}

.light-theme #box-container {
  background-color: #4f8697;
}

#box-container img {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  z-index: 1000;
}

#box-text-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

#box-text-container h2 {
  font-size: 30px;
  transition: color 0.3s;
}

.dark-theme #box-text-container h2 {
  color: #01adfd;
}

.light-theme #box-text-container h2 {
  color: #011620;
}

#box-container:hover #box-text-container h2 {
  color: white;
}

#box-text-container p {
  text-align: center;
  font-size: medium;
  color: #fff;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

#about-top-container {
  height: 50vh;
  width: 100%;
  display: flex;
  position: relative;
  top: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#about-top-left {
  height: 95%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-top-right {
  height: 95%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-top-img-bg {
  position: absolute;
  height: 310px;
  animation: slide-in-left 0.5s forwards;
  clip-path: polygon(0 0, 93% 0, 100% 100%, 5% 100%);
  width: 400px;
  z-index: 1000;
}

.dark-theme #about-top-img-bg {
  background-color: #01adfd;
}

.light-theme #about-top-img-bg {
  background-color: #011620;
}

#about-top-img {
  width: 450px;
  z-index: 1000;
  height: 450px;
  background-image: url(/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation: slide-in-right 0.5s forwards;
}

@keyframes rise {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#about-top-left h1,
#about-top-left span,
#about-top-left p {
  animation: rise 0.5s ease forwards;
}

#about-top-left h1 {
  font-size: 40px;
  text-align: center;
  width: 100%;
}

.dark-theme #about-top-left h1 {
  color: white;
}

.light-theme #about-top-left h1 {
  color: #ffffff;
}

.dark-theme #about-top-left span {
  color: #01adfd;
}

.light-theme #about-top-left span {
  color: #040b0e;
}

#about-top-left p {
  font-size: medium;
  padding-top: 20px;
  text-align: center;
  width: 100%;
}

.dark-theme #about-top-left p {
  color: white;
}

.light-theme #about-top-left p {
  color: #000000;
}

/* Responsive Media Queries */
@media (max-width: 991px) {
  #about-right-container {
    height: 100%;
    flex-direction: column;
  }

  #about-top-container {
    height: 600px;
    flex-direction: column-reverse;
  }
  #about-top-img-bg {
    height: 220px;
    width: 320px;
    display: none;
  }
  
  #about-top-img {
    width: 320px;
    height: 450px;
    display: none;
  }

  #about-top-left {
    width: 100%;
    height: auto;
  }

  #about-top-right {
    width: 100%;
    height: auto;
  }

  #about-left {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #about-box-main-container {
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    height: 1200px;
    align-items: center;
  }

  #box-container {
    width: 80%;
    max-width: 450px;
    height: auto;
  }
}


/* SKILLS */
#skill-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  padding: 20px;
  flex-direction: column;
}

#skill-second-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skill-upper-container {
  height: 300px;
  width: 100%;
  text-align: center;
  z-index: 1000;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

#skill-upper-container h1 {
  font-size: 50px;
}

.dark-theme #skill-upper-container h1 {
  color: white;
}

.light-theme #skill-upper-container h1 {
  color: #011620;
}

.dark-theme #skill-upper-container h1 span {
  color: #01adfd;
}

.light-theme #skill-upper-container h1 span {
  color: #011620;
}

#skill-icons {
  height: 200px;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#skill-bottom-container {
  height: 850px;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#skill-bottom-container-top {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#skill-bottom-container-bottom {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

svg {
  display: block;
  margin: auto;
}

.background-circle {
  stroke: #e6e6e6;
  fill: transparent;
  stroke-width: 20;
}

.progress-circle {
  fill: transparent;
  stroke-width: 20;
  transition: stroke-dashoffset 0.2s ease-in-out;
}

.dark-theme .progress-circle {
  stroke: #01adfd;
}

.light-theme .progress-circle {
  stroke: #011620;
}

.progress-text {
  fill: #ffffff;
  font-size: 36px;
}

.dark-theme .progress-text {
  fill: #ffffff; 
}

.light-theme .progress-text {
  fill: #011620; 
}

.label-text {
  font-size: 15px;
  font-weight: 900;
}

.dark-theme .label-text {
  fill: white;
}

.light-theme .label-text {
  fill: #011620;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.image-container {
  display: flex;
  justify-content: space-around;
  height: 90px;
  width: 70%;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-image {
  height: 80px;
  width: 80px;
}

/* Responsive styles */
@media (max-width: 1200px) {

  #skill-upper-container h1 {
    font-size: 40px;
  }
  #skill-bottom-container {
    height: 500px;
  }
  #skill-bottom-container {
    height: 2200px;
  }
  
  #skill-bottom-container-top {
    height: 1100px;
    flex-direction: column;
  }
  
  #skill-bottom-container-bottom {
    height: 900px;
    flex-direction: column;
  }
  #skill-icons {
    flex-direction: column;
  }
}

@media (max-width: 992px) {
  #skill-bottom-container {
    height: 2200px;
  }
  
  #skill-bottom-container-top {
    height: 1100px;
    flex-direction: column;
  }
  #skill-upper-container h1 {
    font-size: 30px;
  }

  #skill-icons {
    flex-direction: column;
  }
  .slider-container {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  /* Mobile landscape */
  #skill-upper-container h1 {
    font-size: 25px;
  }
  #skill-icons {
    flex-direction: column;
    height: 150px;
  }
  #skill-bottom-container {
    height: 2200px;
  }
  
  #skill-bottom-container-top {
    height: 1100px;
    flex-direction: column;
  }
  
  #skill-bottom-container-bottom {
    height: 900px;
    flex-direction: column;
  }
  .fade-image {
    height: 60px;
    width: 60px;
  }
}

@media (max-width: 576px) {
  #skill-upper-container h1 {
    font-size: 20px;
  }
  #skill-bottom-container {
    height: 2200px;
  }
  
  #skill-bottom-container-top {
    height: 1100px;
    flex-direction: column;
  }
  
  #skill-bottom-container-bottom {
    height: 900px;
    flex-direction: column;
  }
  .fade-image {
    height: 50px;
    width: 50px;
  }
  .slider-container {
    margin-top: 20px;
  }
  #skill-icons {
    flex-direction: column;
    height: 100px;
  }
  #skill-bottom-container-top {
    display: flex;
    flex-direction: column;
  }
}


/* Contact Page */
#Contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; 
  text-align: center;
  position: relative;
  padding: 20px;
  flex-direction: column;
}

#Contact-second-container {
  width: 100%;
  min-height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
#Contact-second-container h2{
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 20%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dark-theme #Contact-second-container h2 span {
  color: #01adfd; 
}
.light-theme #Contact-second-container h2 span {
  color: #011620;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  animation: fadeInFromLeft 1.5s ease-out;
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #01adfd;
}

.submit-button {
  padding: 15px 30px;
  background-color: #01adfd;
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  animation: pulseButton 1.5s infinite;
}

.submit-button:hover {
  background-color: #ff4500;
  transform: translateY(-5px);
}

@keyframes pulseButton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.hurrah-message {
  animation: bounceIn 1s ease-out;
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.hurrah-animation {
  padding: 20px;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  animation: hurrahMessage 1.5s ease-out;
  transition: all 0.5s ease;
}

@keyframes hurrahMessage {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.dark-theme .hurrah-animation {
  background-color: #01adfd;
}

.light-theme .hurrah-animation {
  background-color: #011620;
}
.whatsapp-container {
  background-color: #25d366;
  padding: 40px 20px;
  border-radius: 15px;
  text-align: center;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeInFromRight 1.5s ease-out;
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.whatsapp-container:hover {
  transform: scale(1.05);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

.whatsapp-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}

.whatsapp-button span {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s ease;
}

#contact-all-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  min-height: 100vh; 
}

#contact-left-container {
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 400px;
  animation: fadeInLeft 1.5s ease-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

#contact-right-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  min-height: 400px;
}

/* Dark Theme */
.dark-theme .contact-form {
  background-color: #fff;
  color: #fff;
}

.dark-theme .submit-button {
  background-color: #01adfd;
}

.dark-theme .whatsapp-container {
  background-color: #25d366;
}

/* Light Theme */
.light-theme .contact-form {
  background-color: #fff;
  color: #011620;
}

.light-theme .submit-button {
  background-color: #011620;
}

.light-theme .whatsapp-container {
  background-color: #25d366;
}
/* Media Queries */
@media (max-width: 768px) {
  #contact-all-container {
    flex-direction: column;
    padding-top: 200px;

    justify-content: flex-start;
    gap: 20px;
    min-height: 100vh;
  }
  #Contact-second-container h2{
    font-size: 2.5rem;
    color: white;
    position: absolute;
    top: 10%;
  }
  #contact-left-container, #contact-right-container {
    width: 90%;
    padding: 15px;
    min-height: 350px;
  }

  .whatsapp-container {
    width: 90%;
    padding: 30px 20px;
  }
}

@media (max-width: 600px) {
  #contact-all-container {
    padding-top: 200px;
  }
  
  #contact-left-container, #contact-right-container {
    width: 90%;
    padding: 10px;
    min-height: 300px;
  }

  .whatsapp-container {
    width: 100%;
    padding: 30px 15px;
  }
}
@supports (-webkit-touch-callout: none) {
  html, body {
    height: 100%;
    min-height: 100%;
  }

  #Contact-container {
    min-height: 100vh;
  }
}

/* Project */
.Project-about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  position: relative;
  flex-direction: column;
  padding: 40px;
  box-sizing: border-box;
  transition: background-color 0.5s ease;
}
#ProCard-Container {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.proCard-main {
  width: 300px;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  font-size: 18px;
  text-align: center;
  margin: 10px;
  position: relative;
  transition: all 0.3s ease-in-out; 
  background-color: transparent; 
}
.dark-theme .proCard-main{
  border: 2px solid #007bff;
}

.light-theme .proCard-main{
  border: 2px solid #011620;
}
.proCard-main:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15); 
  opacity: 0.9; 
  background-color: black; 
}
.proCard-main a{
  width: 100%;
  background-color: black;
  opacity: 0;
  color: white;
  text-decoration: none;
}
.proCard-main:hover a {
  opacity: 1; 
}
.card-1 {
  background-image: url('/src/My/Cookventory.JPG');
}

.card-2 {
  background-image: url('/src/My/Njurex.JPG');
}

.card-3 {
  background-image: url('/src/My/E\ Learning.JPG');
}

.card-4 {
  background-image: url('/src/My/Html\ Note\ Book.JPG');
}

.card-5 {
  background-image: url('/src/My/LoanPay.JPG');
}

.card-6 {
  background-image: url('/src/My/Calculator.JPG');
}

.card-7 {
  background-image: url('/src/My/MasterUI.JPG');
}

.card-8 {
  background-image: url('/src/My/Sneakers.JPG');
}

.card-9 {
  background-image: url('/src/My/Chatbot\ with\ Py.JPG');
}

.card-10 {
  background-image: url('/src/My/EPS\ Learning.JPG');
}

.card-11 {
  background-image: url('/src/My/Furni.JPG');
}

.card-12 {
  background-image: url('/src/My/Intenseye.JPG');
}

.card-a {
  background-image: url('/src/clone/amazon.JPG');
}

.card-b {
  background-image: url('/src/clone/Daraz.JPG');
}

.card-c {
  background-image: url('/src/clone/FoodPanda.JPG');
}

.card-d {
  background-image: url('/src/clone/Netflix.JPG');
}
.selected {
  background-color: #007bff;
  color: white;
}

#project-top-container {
  height: 50px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#project-top-container button {
  padding: 0.8em 1.8em;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  height: 40px;
}
.dark-theme #project-top-container button{
  border: 2px solid #007bff;
  color: white;
} 

.light-theme #project-top-container button{
  border: 2px solid #011620;
  color: white;
} 

#project-top-container button:hover::before {
  width: 105%;
}

#project-top-container button:active,
#project-top-container button.selected {
  color: #fff;
  transform: scale(0.98);
}
.dark-theme #project-top-container button:active,
.dark-theme #project-top-container button.selected{
  background-color: #007bff;
  border-color: #007bff;
}
.light-theme #project-top-container button:active,
.light-theme #project-top-container button.selected{
  background-color: #011620;
  border-color: #011620;
}

@media (min-width: 769px) {
  .Project-about-container {
    padding: 40px;
  }

  #ProCard-Container {
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 20px;
  }

  .proCard-main {
    width: 300px;
    height: 400px;
    margin: 20px;
  }
}

@media (max-width: 768px) {
  #project-top-container {
    width: 100%;
    justify-content: space-between;
    margin-top: 50px;
  }

  #project-top-container button {
    width: 45%;
    font-size: 14px;
  }

  #ProCard-Container {
    padding: 20px;
    flex-direction: column;
    align-items: center;
  }

  .proCard-main {
    width: 90%;
    height: 350px;
    margin: 10px;
  }
}
